body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.first {
    padding: 10px 150px;
    background-color: #1f2937;
}

.first, .second {
    flex: 1;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    margin-left: auto;
    padding: 0;
    gap: 18px;
}

.header {
    display: flex;
}

.header span {
    font-size: 24px;
    color: #f9faf8;
}

h1 {
    padding: none;
    margin: none;
    display: inline;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.first-content {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 100px 0;
}

.first-content, ul, button {
    color: #e5e7eb;
    font-size: 18px;
}

.first-left-content {
    width: 400px;
}

.first-content span{
    padding: 100px;
    background-color: gray;
}

button {
    border: none;
    padding: 7px 25px;
    border-radius: 5px;
}

.second {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
    padding-bottom: 150px;
}

.second-content {
    display: flex;
    gap: 50px;
}

.ilustration-combo {
    width: 145px;
    text-align: center;
    color: gray;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.illustration {
    height: 140px;
    width: 140px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}

button {
    background-color: #3882f6;
}

.ilustration-combo p {
   font-size: 18px;
   margin-top: 8px;
}